extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-tag-list
include ../elements/_ui-list-inline-icon
include ../elements/_ui-label-list

block variables
  - var activeIndex = 4
  - var pageName = 'Audio post'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[pageName]]
  })

  section.bg-default.section-md
    .container
      .row.row-60.justify-content-sm-center
        .col-lg-8.section-divided__main
          section.section-sm.post-single-body
            .post-meta-top
              +label-list({
                list_class: 'list-inline list-label-custom',
                href: postAudio,
                items: [
                  "Restaurant"]
              })
            h4 Authentic German Bread (Bauernbrot) Cooking Classes
            .post-meta
              .group
                a(href=postAudio): time(datetime='2018') Jan.20, 2018
                a(href=postAudio) by Brian Williamson
                a(href=postAudio) No comment(s)
                +tag-list({
                    list_class: 'list-inline-tag',
                    href: postAudio,
                    items: [
                        "Style",
                        'Clean']
                })
                
            // RD Audio
            .post-audio
              .rd-audio-wrap.rd-audio-dark.rd-audio-horizontal
                .rd-audio(data-rd-audio-playlist-name='rd-playlist01', data-rd-volume-bar-type='horizontal')
                  .rd-audio-controls.text-center
                    .rd-audio-controls-left
                      // Play\Pause button
                      a.rd-audio-play-pause.fa.fa-play.rd-audio-icon.has-controls(href='#')
                    .rd-audio-progress-bar-wrap
                      // Time
                      .rd-audio-time
                        // currentTime
                        span.rd-audio-current-time 00:00
                      // Progress bar
                      .rd-audio-progress-bar
                    // Volume button
                    a.rd-audio-volume.fa.fa-volume-up.rd-audio-icon(href='#')
                    // Volume bar
                    .rd-audio-volume-bar
                    .rd-audio-controls-righ.d-none
                      // Playlist button
                      a.rd-audio-playlist-button.rd-audio-icon.mdi.mdi-dots-horizontal(href='#')
                  .rd-audio-playlist-wrap
                    h6.rd-audio-playlist-title Playlist
                    ul.rd-audio-playlist(data-rd-audio-playlist='rd-playlist01', data-rd-audio-play-on='li')
                      li(data-rd-audio-src='audio/sound-1.mp3')
            
            include ../sections/_section-blog-post-single-content

          include ../sections/_section-blog-post-comment

        .col-lg-4.section-divided__aside.section-divided__aside-left.section-divided__aside-layout-1
          include ../sections/_section-aside-sidebar-post

  // Modal
  include ../sections/_section-modal
  // Page Footer
  include ../sections/_footer-modern