extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 3
  - var pageName = 'Buttons'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  // Buttons
  section.section-lg.bg-default.text-center
    .container
      .group-lg
        .button.button-gray-light-outline: span Buy theme!
          
  ='\n'

  // Buttons
  section.section-lg.bg-accent.text-center
    .container
      .group-lg
        .button.button-gray-light-outline: span View now!
  ='\n'

  // Page Footer
  include ../sections/_footer-modern

