extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-tag-list
include ../elements/_ui-label-list
include ../elements/_ui-list-inline-icon
include ../elements/_ui-slider-blog
include ../elements/_ui-pagination-classic

block variables
  - var activeIndex = 4
  - var pageName = 'Classic Blog'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })
  
  section.bg-default.section-md
    .container
      .row.row-70
        .col-lg-7.col-xl-8.section-divided__main
          include ../sections/_section-main-classic-blog

        .col-lg-5.col-xl-4.section-divided__aside.section-divided__aside-left
          include ../sections/_section-aside-sidebar-blog
  
            
  // Modal
  include ../sections/_section-modal
    
  // Page Footer
  include ../sections/_footer-modern