extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-tag-list
include ../elements/_ui-list-inline-icon
include ../elements/_ui-label-list

block variables
  - var activeIndex = 4
  - var pageName = 'Image post'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.bg-default.section-md
    .container
      .row.row-60.justify-content-sm-center
        .col-lg-8.section-divided__main
          section.section-sm.post-single-body
            .post-meta-top
              +label-list({
                list_class: 'list-inline list-label-custom',
                href: postImage,
                items: [
                  "Restaurant"]
              })
              
            h4 Authentic German Bread (Bauernbrot) Cooking Classes
            .post-meta
              .group
                a(href=postImage): time(datetime='2018') Jan.20, 2018
                a(href=postImage).meta-author by Brian Williamson
                a(href=postImage) 3 comment(s)
                +tag-list({
                    list_class: 'list-inline-tag',
                    href: postImage,
                    items: [
                      "Restaurant"]
                })
                
            +img-thumbnail({
                number: 1,
                original:'post-classic-1-886x668',
                img:'post-classic-1-886x668'
            })
            include ../sections/_section-blog-post-single-content

          include ../sections/_section-blog-post-comment

        .col-lg-4.section-divided__aside.section-divided__aside-left.section-divided__aside-layout-1
          include ../sections/_section-aside-sidebar-post

  // Modal
  include ../sections/_section-modal

  // Page Footer
  include ../sections/_footer-modern