extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-tag-list
include ../elements/_ui-list-inline-icon
include ../elements/_ui-slider-blog
include ../elements/_ui-pagination-classic
include ../elements/_ui-label-list

block variables
  - var activeIndex = 4
  - var pageName = 'No Sidebar'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.bg-default.section-md
    .container
      .row.justify-content-sm-center
        .col-lg-7.col-xl-8.section-divided__main
          include ../sections/_section-main-classic-blog


  // Page Footer
  include ../sections/_footer-modern

