extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-pricing-table

block variables
	- var activeIndex = 3
	- var pageName = 'Pricing Table'

block page
	// Page header
	include ../sections/_header-default

	+breadcrumbs({
		path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
	})


	section.section-md.bg-default
		.container
			.row.row-50
				.col-md-6.col-xl-3
					+pricing-table({
						title: 'Starter',
						price: '$14.89'
					})
						ul.list
							li
								span On-Site Catering
							li Entrées and Side Dishes
							li Appetizers
							li Reservation by Phone

				.col-md-6.col-xl-3
					+pricing-table({
						class: 'pricing-table-label',
						label: 'most popular',
						title: 'Standard',
						price: '$32.89'
					})
						ul.list
							li
								span Special Event Catering
							li Servers and Bartenders
							li Buffet Decor
							li Online Reservation

				.col-md-6.col-xl-3
					+pricing-table({
						title: 'Business',
						price: '$76.89 '
					})
						ul.list
							li
								span Corporate Catering
							li Soft Beverages
							li Dishes Delivery
							li Customizable Menus

				.col-md-6.col-xl-3
					+pricing-table({
						title: 'Professional',
						price: '$89.89'
					})
						ul.list
							li
								span Event Supervision
							li Premium Tableware
							li Branded Utensils
							li Exclusive Catering Packages

	+divider

	section.section-md.bg-default.text-center.text-md-left
		.container
			.row.row-50.justify-content-lg-center
				.col-md-6.col-lg-4.col-xl-3
					.pricing-table-wrap
						.pricing-table-custom
							h5 Available options
							ul.list-xxs.small
								li Offered catering
								li Additional Services
								li Customizable Menus
								li On-site Staff

				.col-md-6.col-lg-4.col-xl-3
					+pricing-table({
						class: 'pricing-table-label',
						label: 'most popular',
						title: 'Standard',
						price: '$32.89'
					})
						ul.list
							li
								span Wedding Catering
							li Buffet Decor
							li: span.icon.icon-secondary-2.linear-icon-cross2
							li Servers

				.col-md-6.col-lg-4.col-xl-3
					+pricing-table({
						title: 'Business',
						price: '$76.89 '
					})
						ul.list
							li
								span Corporate Catering
							li Dishes Delivery
							li: span.icon.icon-primary.linear-icon-check
							li Bartenders

				.col-md-6.col-lg-4.col-xl-3
					+pricing-table({
						title: 'Professional',
						price: '$89.89'
					})
						ul.list
							li
								span Premium Catering
							li Branded Utensils
							li: span.icon.icon-primary.linear-icon-check
							li Event Supervisors


	='\n'

	// Page Footer
	include ../sections/_footer-modern

