//
// Buttons
// --------------------------------------------------

// Button General Styles
.button {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
  border: 1px solid;
  border-radius: 0;
  @include btn-size(13px, 14px, $btn-font-size, 16px);
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  letter-spacing: .16em;
  transition: .33s color ease, .25s transform ease, .43s color ease;
  white-space: normal;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 3px 0 0;
  
  
  &:before{
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 100%;
    right: 0;
    content: "";
    display: inline-block;
    transition: .28s all ease;
    z-index: 0;
  }
  
  span {
    position: relative;
  }
  
  &:hover{
    box-shadow: 0 0;
    transform: translate3d(2px, 3px, 5px);
    &:before{
      top: 0;
      left: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    @include btn-size(13px, 15px, $btn-font-size, 16px);
    min-width: 170px;
  }
}

span.button {
  cursor: default;
}

* + .button {
  margin-top: 25px;
  @include media-breakpoint-up(md) {
    margin-top: 35px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 50px;
  }
}

// Appearance style
// --------------------------------------------------

.page {
  .button-default {
    @include btn-variant($gray-darker, transparent, $gray, $white, $gray-darker, $gray-darker);
  }

  .button-black {
    @include btn-variant($white, $black, $black, $white, $primary, $primary);
  }

  .button-primary {
    @include btn-variant($white, $primary, $primary, $white, $black, $black);
  }

  .button-gray-light-outline {
    @include btn-variant($black, transparent, $black, $black, transparent, $black);
    
    &:hover {
      color: $white;   
    }

    &:hover span {
      color: $white;
    }
    
    &:before{
      background-color: $black;
    }
  }

  
  span.button-gray-light-outline {
    @include btn-variant($black, transparent, $gray-light, $black, transparent, $gray-light);
  }
}

// Button Sizes
// --------------------------------------------------

.button-xxs {
  @include btn-size(1px, 5px, 20px, 20px);
}

.button-xs {
  @include btn-size(5px, 25px, 12px, 22px);
}

.button-sm {
  @include btn-size(6px, 25px, 13px, 24px);
}

.button-lg {
  @include btn-size(18px, 45px, 16px, 24px);

  @include media-breakpoint-up(xl) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.button-xl {
  @include btn-size(20px, 50px, 18px, 28px);

  @include media-breakpoint-up(xl) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

// Button Shapes
// --------------------------------------------------

.button-circle {
  border-radius: 35px;
}

.button-square {
  border-radius: 0;
}

.button-round-2 {
  border-radius: 8px;
}

// Button Types
// --------------------------------------------------
.button-link {
  border: 0;
  padding: 0;
  @include link($black, $primary);

  &:after {
    display: inline-block;
    padding-left: 8px;
    content: '\e944';
    font-family: 'Linearicons';
  }
}

// Button Icon styles
// --------------------------------------------------

.page .button {
  &.button-icon {
    //@include display-inline-flex;
    //@include flex-wrap(nowrap);
    //@include align-items(center);
    //@include justify-content(center);
    //vertical-align: middle;

    .icon {
      position: relative;
      top: -2px;
      display: inline-block;
      vertical-align: middle;
      color: inherit;
      font-size: 1.85em;
      line-height: 0;
    }

    &-left {
      //@include flex-direction(row);
      .icon {
        padding-right: 11px;
      }
    }

    &-right {
      @include flex-direction(row-reverse);
      .icon {
        padding-left: 11px;
      }
    }
  }
}

// Button other styles
// --------------------------------------------------
.button-block {
  display: block;
  width: 100%;
}

// bootstrap buttons

.btn-primary:active:hover {
  background-color: $primary;
  border-color: $primary;
}