//
// Variables Custom
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$black:               #000;
$gray-darker:             #222;
$gray-dark:               #333;
$gray:                    #888;
$gray-light:              #e0e0e2;
$gray-lighter:            #f8f8f8;

$primary:                 #000;
$secondary:               #2c2c2c;
$secondary-2:             #ff596d;
$secondary-3:             #033840;
$secondary-4:             #ffc045;
$secondary-5:             #5dd1c1;
$secondary-6:             #e9f8ff;
$secondary-7:             #90dfcf;
$secondary-8:             #e9f9f6;

$white:                   #fff;

$gray-1:                  #ececee;
$gray-2:                  #e5e5e5;
$gray-3:                  #fbfbfb;
$gray-4:                  #c7c7c7;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white;
//** Global text color on `<body>`.
$body-color:            $gray;

//** Global textual link color.
$link-color:            $black;
//** Link hover color set via `darken()` function.
$link-hover-color:      $gray;
//** Link hover decoration.
$link-hover-decoration: none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// Import fonts
@font-face {
  font-family: 'Garamond';
  src: local('Garamond'),
        url('../fonts/garamont/GARA.TTF') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: local('GARAIT'),
        url('../fonts/garamont/GARAIT.TTF') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Garamond';
  src: local('GARABD'),
        url('../fonts/garamont/GARABD.TTF') format("truetype");
  font-weight: 700;
  font-style: normal;
}

$font-family-sans-serif:  "Garamond", serif;
$font-family-serif:       "Garamond", "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-icons:              "Linearicons";

$font-family-base:        $font-family-sans-serif;
$font-family-sec:         $font-family-serif;


// Template width (w/o units)
$template-width:          1920;

// Template width var for resizing
$template-width-min:      ($template-width+1)*1px;
$layout-boxed-width:      1920px;


// Base FZ & LH (w/o units)
$base-text-size:          26;
$base-lh-size:            42;

$base-vm-size:            (($base-text-size*100)/$template-width)*1vw;


$font-size-base:          $base-text-size * 1px;
$font-size-lg:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-sm:         20px;

$font-weight-base:        400;

//PSD FZ headers /FOR EDIT (w/o units)
$Size-h1:                 70;
$Size-h2:                 56;
$Size-h3:                 56;
$Size-h4:                 37;
$Size-h5:                 37;
$Size-h6:                 26;

//PSD LH headers /FOR EDIT (w/o units)
$Lh-h1:                   75;
$Lh-h2:                   66;
$Lh-h3:                   66;
$Lh-h4:                   59;
$Lh-h5:                   59;
$Lh-h6:                   42;


//Calculating FZ headers
$h1-font-size:            $Size-h1*1px;
$h2-font-size:            $Size-h2*1px;
$h3-font-size:            $Size-h3*1px;
$h4-font-size:            $Size-h4*1px;
$h5-font-size:            $Size-h5*1px;
$h6-font-size:            $Size-h6*1px;


//** line-height for headers /FOR EDIT
// $font-lh-h_: floor((PSD l-h / $h1-font-size));

$h1-line-height:              ($Lh-h1 / $Size-h1);
$h2-line-height:              ($Lh-h2 / $Size-h2);
$h3-line-height:              ($Lh-h3 / $Size-h3);
$h4-line-height:              ($Lh-h4 / $Size-h4);
$h5-line-height:              ($Lh-h5 / $Size-h5);
$h6-line-height:              ($Lh-h6 / $Size-h6);

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        ($base-lh-size / $base-text-size); // l-h/fz-base
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    400;
$headings-line-height:    1.2;
$headings-color:          $black;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// Extra Large screen / 4k desktop
$screen-xl:                  1600px;
$screen-xl-min:              $screen-xl;
$screen-xl-desktop:          $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);

// Define media prefix
$medias: (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl);

$screen-height-desktop: 800px;
$screen-height-desktop-1: 880px;

//== Flex Grid system
//
//## Define your custom flex responsive grid.

$shell-width:         300px;
$shell-xs-width:      480px;
$shell-sm-width:      750px;
$shell-md-width:      970px;
$shell-lg-width:      1400px;
$shell-xl-width:      1800px;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1400px,
    xxl: 1800px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$range-ws:            35px;
$range-ws-sm:         20px;
$range-ws-lg:         60px;

$cell-count:          12;
$cell-spacing:        30px;
$cell-spacing-narrow: 10px;


//== Shadows
//
//##

$shadow-area-ambient: 0px 0px 1px 0 rgba(0, 0, 0, 0.15);
$shadow-area-xxs: 1px 1px 1px rgba(0, 0, 0, 0.15);
$shadow-area-xs: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
$shadow-area-sm: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
$shadow-area-md: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
$shadow-area-lg: 0 5px 23px 0 rgba(0, 0, 0, 0.35);
$shadow-area-xl: 0 0 57px 0 rgba(0, 0, 0,.09);


//== Buttons variables
//
$btn-font-family:         $font-family-base;
$btn-font-size:           16px;
$btn-font-weight:         400;
$btn-lh-size:             1.2;

// Border radius

$border-radius-small:     4px;