if (includeLayoutPanel)
  .layout-panel-wrap
    .layout-panel
      button.layout-panel-toggle(data-custom-toggle='.layout-panel-wrap' data-custom-toggle-disable-on-blur='true')
        span

      .layout-panel-content.scroll-wrap
        .layout-panel-inner.isotope-wrap
          .layout-panel-header
            a.button.button-primary.button-icon.button-icon-left(href=getTemplateLink)
              span.icon.linear-icon-cart
              | Buy template
            .layout-panel-element
              img(src='images/layout-panel/logo-174x32.png', alt='', width='174', height='32')

          // Isotope Filters
          .isotope-filters
            ul.inline-list-xxs
              li: a.active(data-isotope-filter='*', data-isotope-group='layouts', href='#') All
              li: a(data-isotope-filter='templates', data-isotope-group='layouts', href='#') Templates
              li: a(data-isotope-filter='headers', data-isotope-group='layouts', href='#') Headers
              li: a(data-isotope-filter='footers', data-isotope-group='layouts', href='#') Footers

            // Isotope Content
          .layout-panel-main
            .isotope(data-isotope-layout='fitRows', data-isotope-group='layouts')
              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62267-default',
                  title: 'Default',
                  link: '../index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62268-modern-hotel',
                  title: 'Hotel',
                  link: '../62268-modern-hotel/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62269-construction',
                  title: 'Construction',
                  link: '../62269-construction/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62270-corporate',
                  title: 'Corporate',
                  link: '../62270-corporate/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62271-fitness',
                  title: 'Fitness',
                  link: '../62271-fitness/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62272-furni',
                  title: 'Furni',
                  link: '../62272-furni/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62273-fashion-blog',
                  title: 'Fashion',
                  link: '../62273-fashion-blog/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62274-lawyer',
                  title: 'Lawyer',
                  link: '../62274-lawyer/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62275-loan-offer',
                  title: 'Loan Offer',
                  link: '../62275-loan-offer/index.html'
                })

              .isotope-item(data-filter='templates')
                +thumbnail-small({
                  filename: '62276-resto',
                  title: 'Avenue',
                  link: '../62276-resto/index.html'
                })

              .isotope-item(data-filter='headers')
                +thumbnail-small({
                  filename: 'header-1',
                  title: 'Header 1',
                  link: 'header-default.html'
                })

              .isotope-item(data-filter='headers')
                +thumbnail-small({
                  filename: 'header-2',
                  title: 'Header 2',
                  link: 'header-transparent.html'
                })

              .isotope-item(data-filter='headers')
                +thumbnail-small({
                  filename: 'header-3',
                  title: 'Header 3',
                  link: 'header-creative.html'
                })

              .isotope-item(data-filter='footers')
                +thumbnail-small({
                  filename: 'footer-1',
                  title: 'Footer 1',
                  link: 'footer-corporate.html'
                })

              .isotope-item(data-filter='footers')
                +thumbnail-small({
                  filename: 'footer-2',
                  title: 'Footer 2',
                  link: 'footer-minimal.html'
                })

              .isotope-item(data-filter='footers')
                +thumbnail-small({
                  filename: 'footer-3',
                  title: 'Footer 3',
                  link: 'footer-modern.html'
                })