footer.footer-minimal
  .container
    a(href='./').figure-inline
      figure
        +png(logoInverse)
    ul
      li.font-italic
        | Alexandria, 32 Washingtorn str, 22303
      
      li.font-italic
        dl.list-terms-minimal
          dt Opening hours
          dd Mo-Fr 11:00-00:00, Sa-Sa 15:00-00:00
          
      li
        dl.list-terms-minimal
          dt Call
          dd: a(href='tel:#') (555)123-4567

    ul.list-inline-sm.footer-minimal__list
      li: a.icon.icon-sm.icon-gray-4.fa.fa-facebook(href='#')
      li: a.icon.icon-sm.icon-gray-4.fa.fa-twitter(href='#')
      li: a.icon.icon-sm.icon-gray-4.fa.fa-google-plus(href='#')
      li: a.icon.icon-sm.icon-gray-4.fa.fa-vimeo(href='#')
      li: a.icon.icon-sm.icon-gray-4.fa.fa-youtube(href='#')
      li: a.icon.icon-sm.icon-gray-4.fa.fa-pinterest(href='#')
      
    p.rights
      span ©
      =' '
      span(class="copyright-year")
      =' '
      span!=brandName
      span &nbsp;
      span All Rights Reserved. 
      span &nbsp;
      span Terms of use and 
      a(href='privacy-policy.html') Privacy Policy