footer.footer-modern
  .container
    .footer-modern__layer.footer-modern__layer_top
      a.brand(href='index.html')
        +png(logoInverse)

      ul.list-nav
        li(class={active: activeIndex == 0}): a(href='index.html') Home
        li(class={active: activeIndex == 1}): a(href='about.html') About
        li(class={active: activeIndex == 2}): a(href='menu.html') Menu
        li(class={active: activeIndex == 3}): a(href='#') Pages
        li(class={active: activeIndex == 4}): a(href='#') Blog
        li(class={active: activeIndex == 5}): a(href='portfolio.html') Gallery
        li(class={active: activeIndex == 6}): a(href='contacts.html') Contacts

      ul.list-inline-xxs.footer-modern__list
        li: a.icon.icon-sm.icon-gray-4.fa.fa-facebook(href='#')
        li: a.icon.icon-sm.icon-gray-4.fa.fa-twitter(href='#')
        li: a.icon.icon-sm.icon-gray-4.fa.fa-google-plus(href='#')
        li: a.icon.icon-sm.icon-gray-4.fa.fa-vimeo(href='#')
        li: a.icon.icon-sm.icon-gray-4.fa.fa-youtube(href='#')
        li: a.icon.icon-sm.icon-gray-4.fa.fa-pinterest(href='#')

    .footer-modern__layer.footer-modern__layer_bottom
      p.rights
        span!=brandName
        span &nbsp;
        span(class="copyright-year")
        | .



      ul.list-bordered
        li
          dl.list-terms-minimal
            dt Address
            dd Alexandria, 32 Washington str, 22303

        li
          dl.list-terms-minimal
            dt Phones
            dd: ul.list-semicolon
              li: a(href='tel:#') (800) 123-0045
              li: a(href='tel:#') (800) 123-0045

        li
          dl.list-terms-minimal
            dt E-mail
            dd: a(href='mailto:#') info@demolink.org